p{
  text-align: justify;
  font-size: 100%;
  font-weight: bold;
}
body{
  background-color: white;
}
.tabs{
  background-color: white;
  height: 100%;
  width: 100%;
}

.qDiv{
  width: 80%;
  box-shadow:5px 5px rgba(224, 224, 224, 0.158);
  margin: 20px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(223, 223, 223);
  padding: 20px;
  margin-left: 10%;
}

.question{
  font-weight: 800;
}
.answer{
  font-style: italic;
}