p{
  text-align: justify;
  font-size: 100%;
  font-weight: bold;
}
.tabs{
  background-color: rgb(240, 240, 240);
  width: 100%;
  padding-bottom: 50px;
}

.qDiv{
  width: 80%;
  box-shadow:10px 10px 10px rgb(199, 199, 199);
  margin: 20px;
  background-color: white;
  padding: 20px;
  margin-left: 10%;
  border-radius: 10px;
}

.question{
  font-weight: 800;
  color: #009688;
  font-size: large;
}