.pestListBody {
  background-color: white;
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
  padding: 1% 1%;
  border-radius: 5px;
}
.addPestButton{
  padding: 10px;
  width: 15%;
  font-size: large;
  background-color: rgb(26, 226, 26);
  color: white;
  border: 0px;
  border-radius: 8px;
  margin-left: 84%;
}