.body{
    background-color: rgba(255, 255, 255, 0.747);
    margin: 1%;
    padding: 1%;
    
}


td button{
    padding: 10px;
    margin-right: 5px;
    border-radius: 3px;
}

.uprate-icon, .downrate-icon{
    margin-left: 10px;
    margin-right: 10px;   
}
.uprate-icon{
    color: #66bb6a
}
.downrate-icon{
    color: #ef5350;
}

.role-selector{
    width: 15%;
    padding: 10px;
    display: block;
    margin-left: 80%;
    border: 0px;
    font-family: Quicksand, Noto, sans-serif;
    font-weight: 700;
    color: #009688;
    border-radius: 0px;
    border-bottom: #009688 2px solid;
}